*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.navbar{
    border-bottom: 1px solid rgb(179, 177, 177);
    display: flex;
    height: 65px;
    align-items: center;
    justify-content: space-between;
    padding: 5px 13px;
}
.logo{
    
    width: 4.5%;
    height: 100%;
}
.logo > a{
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 100%;
    height: 100%;
    /* border: 1px solid red; */
}
.logo > a > img{
    width: 90%;
    height: 80%;
    background: none;
}
.page-info-actions{
    display: flex;
    flex-direction: column;
    width: 76%;
    overflow: hidden;
    /* border: 1px solid red; */
    height: 100%;
    padding-left: 2px;
    padding-top:2px ;
}
.page-action-input{
    /* border: 1px solid yellow; */
    height: 50%;
}
.page-action-input > input {
    width: 173px;
    height: 100%;
    font-size: 1.2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0px 4px;
    border: none;
    color: rgb(96, 96, 96);
    
}

.page-actions{
    /* border: 1px solid yellow; */
    display: flex;
    align-items: flex-end;
    padding-left: 5px;
    height: 50%;

}
.page-actn-items{
    margin-right: 13px;
    cursor: pointer;
}
.comments{
    width: 4%;
    height: 100%;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.comments > svg{
    width: 80%;
    height: 50%;
}

.navButton{
    
    width: 8%;
    height: 100%;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.navButton > button{
    width: 100%;
    height: 70%;
    font-size: 1rem;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;  
}
.profile{
    height: 100%;
    /* border: 1px solid red; */
    width: 4%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile > img{
    border-radius: 50%;
}
.cell-properties{
    display: flex;
    padding: 10px 19px;
    border-bottom: 1px solid rgb(179, 177, 177);
    height: 39.3333px;
}
.cell-properties > *{
    margin-right: 15px;
    cursor: pointer;
}
.cell-properties > select{
    border: 1px solid gainsboro;
    border-radius: 5px;
    background-color: transparent;
}

.formula-container{
    display: flex;
    padding: 0px 19px;
    padding-left: 2px;
    border-bottom: 1px solid rgb(179, 177, 177);
    height: 1.5rem;

}
.formula-container > *{
    margin-right: 5px;
}
.formula-container > span{
    height: 100%;
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.formula-container > span > img{
    height: 80%;
    width: 100%;
}
.address-bar{
    width: 83px;
    border:none;
    outline: none;
    border-right: 1px solid black;
    text-align: center;
}
.function-bar{
    flex-grow: 1;
    border:none;
    border-left: 1px solid black;
    outline: none;
    padding-left: 5px;
}
.grid-container{
    height: calc(100vh - 65px - 1.5rem - 39.3333px - 3rem);
    /* background-color: bisque; */
    position: relative;
    overflow: auto;
    overflow-x: scroll;
}
.useless-box{
    height: 2rem;
    width: 2rem;
    background-color: rgb(179, 177, 177);
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 4;
}
.row-container{
    /* width: 2rem; */
    /* height: calc(100% - 2rem); */
    position: sticky;
    top: 2rem;
    left: 0px;
    
    
}
.row-count{
    width: 2rem;
    height: 2rem;
    border-bottom: 1px solid rgb(179, 177, 177);
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid rgb(179, 177, 177);
}

.col-container{
    /* height: 2rem;
    width: calc(100% - 2rem); */
    display: flex;
    position: absolute;
    /* position: sticky; */
    top: 0px;
    left: 2rem;
}
.col-count{
    height: 2rem;
    width: 6rem !important;
    flex-shrink: 0;
    border-right: 1px solid rgb(179, 177, 177);
    border-bottom:1px solid rgb(179, 177, 177);
    display: flex;
    align-items: center;
    justify-content: center;
}